fastapi
uvicorn[standard]
python-multipart
python-dotenv
Pillow
google-generativeai

# --- Real-ESRGAN (upscaling) ---
# realesrgan resmi butuh torchvision lama (bentrok versi baru).
# Urutan install di bawah ini yang paling stabil di Windows/Python 3.11
torch
torchvision==0.16.0
basicsr
facexlib
gfpgan
realesrgan
streamlit
opencv-python-headless
pillow
numpy